/* #root {
  @apply w-[90vw] bg-[white] text-center;
} */
.media {
  @apply flex flex-row justify-center items-center h-[8rem] gap-[1rem] w-[40%]   lg:ml-[47%] ml-[2rem] lg:mt-[10%];
}
.brand {
  background-image: url("https://media.istockphoto.com/id/507909158/photo/plane-wing-above-sky-and-clouds.jpg?s=612x612&w=0&k=20&c=xTiQu_P12MRoJpWE__z7sA_z76TaLdHhDBRuH9Lix-o=");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right, center;
  @apply h-[1vh] w-[100%] lg:flex;
}
.details {
  @apply w-[26%] lg:h-[40%] bg-[white] rounded-[3px];
}
.deal {
  background-image: url("./assets/pirata-studio-film-GlVr1QBPYv8-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  @apply w-[93%] lg:w-[90%] h-[40vh] lg:h-[78%] mt-[1rem] object-cover rounded-[3px];
}

.mail {
  border-top: 1px dotted #d1a9db;
}

.slider {
  overflow: hidden;
  float: right;
  top: 0;
  @apply w-[100vw] h-[6vh] bg-[#010080] flex flex-col justify-center     items-center absolute;
}
.slide-container {
  @apply w-[100vw] h-[auto]
relative;

  animation-name: slide_image;
  animation-duration: 50s;
  animation-direction: normal;
  animation-play-state: running;
  animation-iteration-count: infinite;
}
@keyframes slide_image {
  0% {
    right: 0%;
  }

  100% {
    right: 100%;
  }
}

.placeholder::placeholder {
  @apply text-[black] text-[0.95rem] font-bold;
}
button:active {
  @apply text-[white] outline-[white];
}
.hotel_dropdown {
  @apply relative inline-block;
}
.hotel_container {
  @apply lg:w-[17vw] w-[17rem] lg:h-[40vh] h-[48vh] ml-[] lg:ml-[0px] mt-[1.1rem] lg:mr-[8%] absolute z-[1] overflow-hidden bg-[white] rounded-[3px]  font-bold shadow-lg;
}
.flight_container {
  @apply w-[17vw] h-[40vh]  mt-[1.1rem] ml-[18%] absolute left-0 z-[1] bg-[white] rounded-[5px]  font-bold shadow-lg flex flex-col leading-6 text-[0.95rem] outline-none;
}
.flight_container button {
  @apply focus:outline-none;
}
form .a {
  @apply w-[13px] h-[15px] text-[white] flex flex-row justify-center items-center text-center font-bold text-[1rem] rounded-[50%] outline-none;
}
.detail {
  @apply w-[90%] h-[12vh] lg:w-[25%] lg:h-[12vh] bg-[white] rounded-[3px];
}
.sign {
  @apply text-white rounded-[100%] flex flex-row justify-center items-center h-[17px] w-[15px] focus:outline-none;
}
.trip {
  @apply bg-white text-[#01004d] rounded-[6px] p-[0.75rem];
}
.accessibility input,
.travel input {
  @apply outline-none  w-[80%] border-b-[1px] bg-[transparent] ml-[10%];
}
.accessibility label {
  @apply text-[0.70rem] text-[gray] ml-[10%] mt-[5%];
}
.accessibility {
  @apply flex flex-col justify-center items-center;
}
.travel label {
  @apply text-[0.70rem] text-[gray] ml-[10%] mt-[5%] text-left;
}
